{% extends 'siteweb/site.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

          <section class="home">
            <img src="{{asset('myFarm/images/2108.q705.020.S.m005.c10.healthcare_medications-removebg-preview.png')}}" alt="" width="80%" height="80%" style="margin-top: -5%; margin-left: -8%;">
        <div class="home-content">
            <h3>votre pharmacie proche de chez vous</h3>
            <h3 style="color: green;">Avec ma pharmacie votre santé est notre priorité</h3>
            {# <h3>de nos jour... <span class="text"></span></h3> #}
            <p>La dispensation des medicaments dans une officine de pharmacie se fait sous l'entiere<br> responsabilité du pharmacien,<br> que ce soit des medicaments délivré sur prescription médicale ou non.</p>
            <div class="home-sci">
                <a href="#"><i class="bx bxl-facebook "></i></a>
                <a href="#"><i class="bx bxl-instagram"></i></a>
                <a href="#"><i class="bx bxl-whatsapp"></i></a>
                <a href="#"><i class="bx bxl-tiktok"></i></a>
            </div>
            <a href="#" class="btn-box">savoir plus</a>
        </div>
     </section>
   
    <section class="about" id="about">
        <h1 class="heading"> <span> A propos </span> De nous </h1>
        <div class="row">
            <div class="video-container">
                <video src="{{asset('myFarm/images/video.mp4')}}" loop autoplay muted></video>
                <h3>la santé au service</h3>
            </div>
            <div class="content">
                <h3>A propos de nous</h3>
                <p>Notre Pharmacie en ligne offre divers produits qui permet de prendre soin de votre santé ou de votre beauté, mais aussi toutes les garanties qu'elle peut vous offrir</p>
                <p>Au sein de l'officine, le pharmacien peut également faire le suivi de la médication du patient; adapter les posologies; renouveler les traitements des pathologies chroniaues et proposer des modifications de thérapeutique en accord avec le médécin</p>
                <a href="#" class="btn">Voir plus</a>

            </div>
        </div>
    </section>

    <section class="icons-container">
        <div class="icons">
            <img src="{{asset('myFarm/images/panier-icone-rendu-3d.jpg')}}" alt="" width="100px" height="100px">
            <div class="info">
                <h3>free delivery</h3>
                <span>on all orders</span>
            </div>
        </div>
        <div class="icons">
            <img src="{{asset('myFarm/images/OLAZ6B0-removebg-preview.png')}}" alt="" width="100px" height="100px">
            <div class="info">
                <h3>10 Days Returns</h3>
                <span>MoneyBack guarantee</span>
            </div>
        </div>
        <div class="icons">
            <img src="{{asset('myFarm/images/sl_100222_53080_09-removebg-preview.png')}}" alt="" width="100px" height="100px">
            <div class="info">
                <h3>Offer & Gifts</h3>
                <span>on all orders</span>
            </div>
        </div>
        <div class="icons">
            <img src="{{asset('myFarm/images/carte-removebg-preview.png')}}" alt="" width="100px" height="80px">
            <div class="info">
                <h3>Secure Payments</h3>
                <span>protected by paypal</span>
            </div>
        </div>
    </section>
    <section class="products" id="products">
        <h1 class="heading">Nos <span>Products</span></h1>
        <div class="box-container">
        {% for produit in produits %}
            
            <div class="box">
                <div class="image">
                    <img src="{{asset('myFarm/images/paracetamol.jpg')}}" alt="">

                    <div class="icons">
                      <a href="{{path("cart_add",{id: produit.id})}}" class="btn btn-success">
                        <i class="bi-bi-card-plus">Ajouter</i>
                     </a>
                    </div> 
                     {# <div class="icons">
                        <a href="#" class="fas fa-heart"></a>
                        <a href="detail.html" class="cart-btn">Ajouter au panier</a>
                        <a href="#" class="fas fa-share"></a>
                    </div>  #}
                </div>
                <div class="content">
                    <h3>{{produit.nom}}</h3>
                    <div class="price"> 100FCFA <span></span></div>
                </div>
            </div>
        {% endfor %}
            
        </div>
    </section>

    <section class="review" id="review">
    <h1 class="heading"> vos <span>temoignage</span></h1>
    <div class="box-container">
        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>La dispensation des medicaments dans une officine de pharmacie se fait sous l'entiere<br> responsabilité du pharmacien,<br> que ce soit des medicaments délivré sur prescription ,édicale ou non.</p>
            <div class="user">
                <img src="{{asset('myFarm/images/doc.jpg')}}" alt="" width="60%" height="60%">
                <div class="user-info">
                    <h3>Oumeda Ndam</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>
        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>La dispensation des medicaments dans une officine de pharmacie se fait sous l'entiere<br> responsabilité du pharmacien,<br> que ce soit des medicaments délivré sur prescription ,édicale ou non.</p>
            <div class="user">
                <img src="{{asset('myFarm/images/doc.jpg')}}" alt=""width="60%" height="60%">
                <div class="user-info">
                    <h3>Clelia joice</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>
        <div class="box">
            <div class="stars">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <p>La dispensation des medicaments dans une officine de pharmacie se fait sous l'entiere<br> responsabilité du pharmacien,<br> que ce soit des medicaments délivré sur prescription ,édicale ou non.</p>
            <div class="user">
                <img src="{{asset('myFarm/images/portrait-generaliste-heureux-tablette-numerique.jpg')}}" alt=""width="60%" height="60%">
                <div class="user-info">
                    <h3>Francis Ben</h3>
                    <span>happy customer</span>
                </div>
            </div>
            <span class="fas fa-quote-right"></span>
        </div>
    </div>
</section>

</section>
<section class="Assistance" id="Assistance">
    <h1 class="heading"><span>Assistance</span></h1>
    <div class="swiper mySwiper container">

        <div class="swiper-wrapper content">

            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="{{asset('myFarm/images/doc.jpg')}}" alt="">
                    </div>
                    <div class="social-media"style="color: #333;">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-github"></i> 
                    </div>
                    <div class="name-profession"style="color: #333;">
                        <span class="name">Julia Brenda</span>
                        <span class="profession">
                            Notre Experte dermathologue
                        </span>
                    </div>
                    <div class="rating" style="color: #333;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="button" style="color: #333;">
                       <a href="A propos.html.twig"><button class="hireMe">A propos de moi</button></a>
                        <a href="contact.html.twig"><button class="hireMe">contactez moi</button></a>

                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="{{asset('myFarm/images/femme-noire-stethoscope.jpg')}}" alt="">
                    </div>
                    <div class="social-media"style="color: #333;">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-github"></i> 
                    </div>
                    <div class="name-profession"style="color: #333;">
                        <span class="name">Simone Audrey</span>
                        <span class="profession">
                            Notre Experte radiologiste
                        </span>
                    </div>
                    <div class="rating" style="color: #333;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="button" style="color: #333;">
                        <button class="aboutMe">A propos de moi</button>
                        <button class="hireMe">contactez moi</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="{{asset('myFarm/images/fille-docteur-medecine-travaillant-microscope-jeune-femme-scientifique-faisant-recherches-vaccins.jpg')}}" alt="">
                    </div>
                    <div class="social-media"style="color: #333;">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-github"></i> 
                    </div>
                    <div class="name-profession"style="color: #333;">
                        <span class="name">Ange Naomie</span>
                        <span class="profession">
                            Notre Experte ophtamologue
                        </span>
                    </div>
                    <div class="rating" style="color: #333;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="button" style="color: #333;">
                        <button class="aboutMe">A propos de moi</button>
                        <button class="hireMe">contactez moi</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="{{asset('myFarm/images/portrait-generaliste-heureux-tablette-numerique.jpg')}}" alt="">
                    </div>
                    <div class="social-media"style="color: #333;">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-github"></i> 
                    </div>
                    <div class="name-profession"style="color: #333;">
                        <span class="name">Brice junior</span>
                        <span class="profession">
                            Notre Expert dentiste
                        </span>
                    </div>
                    <div class="rating" style="color: #333;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="button" style="color: #333;">
                        <button class="aboutMe">A propos de moi</button>
                        <button class="hireMe">contactez moi</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="{{asset('myFarm/images/homme-africain-recevant-colis-employe-du-service-livraison.jpg')}}" alt="">
                    </div>
                    <div class="social-media"style="color: #333;">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-github"></i> 
                    </div>
                    <div class="name-profession"style="color: #333;">
                        <span class="name">Patrice donald</span>
                        <span class="profession">
                            Notre livreur
                        </span>
                    </div>
                    <div class="rating" style="color: #333;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="button" style="color: #333;">
                        <button class="aboutMe">A propos de moi</button>
                        <button class="hireMe">contactez moi</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="{{asset('myFarm/images/gros-plan-livreur-donnant-colis-au-client (1).jpg')}}" alt="">
                    </div>
                    <div class="social-media"style="color: #333;">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-github"></i> 
                    </div>
                    <div class="name-profession"style="color: #333;">
                        <span class="name">Jean Antoine </span>
                        <span class="profession">
                            Notre livreur
                        </span>
                    </div>
                    <div class="rating" style="color: #333;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="button" style="color: #333;">
                        <button class="aboutMe">A propos de moi</button>
                        <button class="hireMe">contactez moi</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="{{asset('myFarm/images/pharmacien-afro-americain-travaillant-pharmacie-pharmacie-hopital-soins-sante-africains.jpg')}}" alt="">
                    </div>
                    <div class="social-media"style="color: #333;">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-github"></i> 
                    </div>
                    <div class="name-profession"style="color: #333;">
                        <span class="name">Lynda princesse</span>
                        <span class="profession">
                            Notre pharmacienne
                        </span>
                    </div>
                    <div class="rating" style="color: #333;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="button" style="color: #333;">
                        <button class="aboutMe">A propos de moi</button>
                        <button class="hireMe">contactez moi</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="{{asset('myFarm/images/women.jpg')}}" alt="">
                    </div>
                    <div class="social-media"style="color: #333;">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-github"></i> 
                    </div>
                    <div class="name-profession"style="color: #333;">
                        <span class="name">Someone Name</span>
                        <span class="profession">
                            Web Developer
                        </span>
                    </div>
                    <div class="rating" style="color: #333;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="button" style="color: #333;">
                        <button class="aboutMe">A propos de moi</button>
                        <button class="hireMe">contactez moi</button>
                    </div>
                </div>
            </div>
            <div class="swiper-slide card">
                <div class="card-content">
                    <div class="image">
                        <img src="{{asset('myFarm/images/doc.jpg')}}" alt="">
                    </div>
                    <div class="social-media"style="color: #333;">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-github"></i> 
                    </div>
                    <div class="name-profession"style="color: #333;">
                        <span class="name">Someone Name</span>
                        <span class="profession">
                            Web Developer
                        </span>
                    </div>
                    <div class="rating" style="color: #333;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>
                    <div class="button" style="color: #333;">
                        <button class="aboutMe">A propos de moi</button>
                        <button class="hireMe">contactez moi</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-pagination"></div> -->

</section>

    
   
     <section class="contact" id="contact"> 
        
        <div class="row">
            <form action="">
                <input type="text" placeholder="nom" class="box">
                <input type="email" placeholder="email" class="box">
                <input type="tel" placeholder="tel" class="box">
                <textarea name="" class="box" placeholder="message" id="" cols="30" rows="10"></textarea>
                <a href="#"><button ><input type="submit" value="envoyer un message" class="btn"></button>
            </form>
            <div class="image">
                <img src="{{asset('myFarm/images/pharmacien-afro-americain-travaillant-pharmacie-pharmacie-hopital-soins-sante-africains.jpg')}}" alt="">
            </div>
        </div>
</section> 
{% endblock %}